.about {
	padding-bottom: 2rem;

	&_bio-image {
		height: 30vh;
		width: 100%;
		background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.6)),
			url(../img/project-1.jpg) center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding-top: 250px;

		p {
			margin-bottom: 2rem;
			line-height: 2;
		}
	}

	&_bio {
		width: 80%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		.headshot {
			width: 150px;
			height: auto;
			border: 3px solid black;
			border-radius: 100px;
		}

		.text-secondary {
			font-size: 3rem;
			text-shadow: 8px 2px 8px black;
			padding: 1rem;
		}
	}

	.jobs {
		width: 60vw;
		margin: 2rem auto 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;

		&_job {
			background: lighten($primary-color, 10%);
			padding: 0.5rem;
			border-bottom: 5px solid $secondary-color;

			.skill_topic {
				margin-bottom: 2rem;

				.html-skills-container {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					text-align: center;

					.fa-html5 {
						color: rgb(255, 123, 0);
					}

					.fa-css3-alt {
						color: rgb(28, 81, 255);
					}

					.fa-js-square {
						color: rgb(255, 232, 28);
					}

					.fa-python {
						color: rgb(0, 0, 0);
					}

					.fa-bootstrap {
						color: rgb(115, 28, 255);
					}

					.fa-github {
						color: black;
					}

					.fa-node-js {
						color: green;
					}

					.fa-react {
						color: rgb(0, 183, 255);
					}

					b {
						color: black;
					}

					.logos {
						width: 28px;
						height: auto;
					}
				}
			}

			h2,
			h3,
			h6 {
				text-align: center;
			}

			h2,
			h3 {
				margin: 0.5rem 0;
			}

			h6 {
				margin: 0.3rem 0;
			}
		}
	}

	.social-icons {
		display: flex;
		flex-direction: column;
	}

	footer {
		transform: rotate(90deg) translate(-3rem, -5rem);
	}
}
