.contact {
	height: 100%;
	padding-top: 30vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.6)),
		url(../img/family-pic.jpg) center top;
	background-size: cover;
	text-align: center;

	.messageMeContainer {
		display: flex;
		flex-direction: column;
		width: fit-content;
		height: fit-content;

		.messageMe {
			background: none;
			background-color: $primary-color;
			color: white;
			opacity: 0.7;
			padding: 1rem;
			margin: 10px;
			border: none;
			border-bottom: 2px solid $secondary-color;
			height: 50px;
			word-break: break-word;

			&::placeholder {
				color: white;
				opacity: 0.7;
				align-items: center;
			}

			&:focus {
				outline: none;
			}
		}

		.email {
			background: none;
			background-color: $primary-color;
			color: white;
			opacity: 0.7;
			padding: 1rem;
			margin: 10px;
			border: none;
			border-bottom: 2px solid $secondary-color;

			&::placeholder {
				color: white;
				opacity: 0.7;
			}

			&:focus {
				outline: none;
			}
		}

		.messageMeSubBtn {
			background: none;
			border: none;

			&:focus {
				outline: none;
			}
		}

		.fa-paper-plane {
			cursor: pointer;
			color: white;
			margin: auto;

			&:hover {
				color: $secondary-color;
				transition: 1s;
			}
		}
	}

	h2 {
		font-size: 3rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 8px 2px 8px black;
		margin-bottom: 2rem;
	}

	&_list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		font-size: 1.5rem;
	}

	.social-icons {
		position: initial;
		margin-top: 2rem;
	}
}
