.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.6)
        ),
        url(../img/headshot.jpg) center center;
    background-size: cover;

    &_name {
        font-size: 3.5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}
