.home {
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.name-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100vw;

		h2 {
			font-size: 1.2rem;
			font-weight: bolder;
		}

		.home_name {
			font-size: 4rem;
			font-family: 'Geostar Fill', cursive;
			text-shadow: 8px 2px 8px black;
			padding-bottom: 0;
			margin-bottom: 0;
			position: relative;

			&--last {
				color: $secondary-color;
			}
		}
	}

	.social-icons {
		z-index: 1;
	}

	.vid {
		position: absolute;
		background-position: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}
}
